*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .4s ease-in;
}

a:hover {
    color: #607d8b
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

header {
    background-color: #607d8bbf;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

header a:hover {
    color: white;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}

.auth,
.add {
    position: relative;
}

.auth .container,
.add .container{
    display: flex;
    align-items: center;
    height: 80vh;
}

.auth form,
.add form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: max-content;
}

.auth form:last-child{
    border-left: 1px solid #607d8b;
}

.auth input,
.add input,
textarea,
select {
    padding: 8px 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border: 1px solid #607d8b;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    width: 300px;
}

.auth .button,
.add .button {
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: none;
}

.auth .button:hover,
.add .button:hover {
    color: #607d8b;
}

.auth .errors,
.add .errors  {
    position: absolute;
    text-align: center;
    color: tomato;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    padding: 10px;
}

.all_books .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 10px;
}

.all_books .books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

.all_books .book {
    background-color: #607d8b1f;
    border-radius: 4px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .4s ease;
    cursor: pointer;
}

.all_books .book:hover {
    box-shadow: 4px 4px 14px #dbdbdb;
}

.all_books .book img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.single .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10px;
}

.single .left-section img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.single .right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single .right-section .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
}

.single .right-section .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
